*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./public/netflix1.jpg");
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: darken;
    background-size: cover;


}

.navbar{
    background-color: #000000ae;
    height: 70px;
}
.navbar img{
    height: 50px;
    margin-left: 200px;
    margin-top: 17px;

}
.navbar button{
    padding: 5px;
    background-color: red;
    position: relative;
    left: 800px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    top: -28px;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
  }

  .main{
    color: aliceblue;
    margin-top: 206px;
    text-align: center;
    & > p{
        margin: 9px;
    }
  }